__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
dist/
.pypirc
*.bat
.codex

examples/checkpoints/
examples/models/
examples/tensorboard_logs/
examples/video/
examples/wandb/

.ipynb_checkpoints/